html{
    width: 100vw;
    height: 100vh;
}
body{
    font-family: "Poppins", sans-serif;
    margin: 0;
}
body * {
    box-sizing: border-box;
}
.main-login{
    width: 100vw;
    height: 100vh;
    background-color: #f0ffffde;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-login{
    width: 50vw;
    height: 90vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-decoration: underline;
    color: #77ffc0;
    /*text-decoration-color: rgb(114, 49, 114);*/
}
.left-login h1{
    font-size: 3vw;
    position: relative;
    color: #2f2841;
}
.imagem{
    position: relative;
    width: 90%;
    height: 60%;
    border-radius: 5px;
}
.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}
.card-login{
    color: #01401C;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 35px;
    background-color: #F2F2F2;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}
.card-login h1{
    font-weight: 800;
    margin: 0;
}
.textField{
    color: #01401C;
    width: 100%;
    display: flex;
    flex-direction: column; /*inverte os eixos de X e Y para o jusitfy-content (q agr é eixo Y) e align-items (q agr é eixo X)*/
    align-items: flex-start;
    justify-content: center;
}
.textField input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #0c4832;
    color: white;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box; /*considera padding, margin e etc. no tamanho da div e não permite que ela ultrapasse a div pai*/
}
.textField label{
    margin-bottom: 10px;
    color: #01401C;
}
.textField input::placeholder{
    color: #f0ffff94;
}
.btn-login {
    width: 70%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-weight: 800;
    letter-spacing: 3px;
    color: white;
    background: #2c775c;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00000056;
}
@media only screen and (max-width: 800px) {
    body{
        background-color: #f0ffffde;
    }
    .main-login{
        width: 100vw;
    }
    .card-login{
        width: 80%;
        justify-items: center;
        align-items: center;
    }
}
@media only screen and (max-width: 730px) {
    .main-login{
        flex-direction: column;
    }
    .left-login h1{
        display: none;
    }
    .left-login {
        height: 50%;
        width: 100%;
    }
    .right-login {
        align-items: center;
        height: auto;
        width: 100%;
    }
    .imagem{
        position: relative;
        top: 10%;
        width: 80%;
        height: 75%;
    }    
}
@media only screen and (max-width: 800px){
    .main-login{
        flex-direction: column;
    }
}
@media only screen and (min-height: 950px){
    .left-login h1{
        top: 20%;
    }
}
